.plus-minus-buttons {
    border-radius: 4px;
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width: 100px;
    margin: 4px 2px;
    cursor: pointer;
}

.plus-minus-inputs {
    width : 32px;
    height : 32px;
    font-size: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

#legend {
   position: absolute;
   top: 0;
   right: 0;
}

#currentEquations {
    font-size: 28px;
}
  
.shapeContainer {
    margin: 0;
    padding: 0;
}