body {
    background-color: #288AF8;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#header {
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 13%;
    height: 13%;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
}

.equations {
    border: 2px solid white;
    margin: 5px;
    padding: 7px;
}

.create {
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttons {
    border-radius: 4px;
    background-color: #F2F828;
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

select {
    background-color: #FF3F47;
}